<footer class="container-fluid py-4">
  <data class="" href="{{ "/" | relative_url }}"></data>

  <div class="row ps-4">
    <div class="col-12 col-md-2 mt-3">
      <img src="assets/logo-main-1.png" alt="logo" width="120px"/>
    </div>
    <div class="col-12 col-md-2 mt-3">
      <div class="bold_14px pt-2">Reykjavík</div>
      <div class="bold_14px pt-2">London</div>
      <div class="bold_14px pt-2">Barcelona</div>
      <div class="regular_14px">
        C/de Nicaragua 137,<br>
        Entresuelo 3, 08029 <br>
        Barcelona, Spain <br><br>
        contact@<br>
        youwindrenewables.com
      </div>
    </div>
    <div class="col-6 col-md-1 offset-md-1 mt-3">
      <div class="semibold_14px">IT Solutions</div>
    </div>
    <div class="col-6 col-md-1 mt-3">
      <div class="semibold_14px">Other Services</div>
      <a href="" class="regular_14px footerlink d-block">Consultancy</a>
      <a href="" class="regular_14px footerlink d-block">Workshops</a>
    </div>
    <div class="col-6 col-md-1 mt-3">
      <div class="semibold_14px">About us</div>
      <a href="" class="regular_14px footerlink d-block">Mission</a>
      <a href="" class="regular_14px footerlink d-block">Team</a>
      <a href="" class="regular_14px footerlink d-block">Security</a>
      <a href="" class="regular_14px footerlink d-block">Careers</a>
    </div>
    <div class="col-6 col-md-1 mt-3">
      <div class="semibold_14px">Resources</div>
      <a href="" class="regular_14px footerlink d-block">FAQs</a>
      <a href="" class="regular_14px footerlink d-block">Blog</a>
      <a href="" class="regular_14px footerlink d-block">Customer cases</a>
      <a href="" class="regular_14px footerlink d-block">Validation Reports</a>
      <a href="" class="regular_14px footerlink d-block">Terms & Conditions</a>
      <a href="" class="regular_14px footerlink d-block">Cookie Policy</a>
    </div>
    <div class="col-12 col-md-3 text-center mt-3">
      <div class="btn youwind_button mt-2">Request Demo</div>
      <br>
      <div class="btn youwind_button mt-2">Log in</div>
    </div>

  </div>

</footer>
