{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">
    <img src="/assets/logo_192.png" alt="logo" width="60px"/>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="" class="nav-link">IT Solutions</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">News</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">About us</a>
      </li>
      <div class="rounded-pill btn-outline-primary ">
        <a class="nav-link" target="_blank" href="https://app.youwindrenewables.com/">Log in</a>
      </div>
      <div class="youwind_button">
        <a class="nav-link" target="_blank" href="https://app.youwindrenewables.com/" style="color: white;">Request Demo</a>
      </div>
      
    </ul>
  </div>
</nav>
