---
# Only the main Sass file needs front matter (the dashes are enough)
---

nav{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  background: #fff;
}

.navbar-nav{
  .nav-item{
    a{
      color: #545454 !important;
    }
  }
  .nav-link{
    padding: none !important;
  }
}
.youwind_button{
  color: white;
  font-weight: 400;
  background-color: #2250ff;
  border-radius: 50rem;
  padding: 5px 40px 5px 40px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  &:hover{
    font-weight: 500;
    background-color:  #2250ff;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    color: white;
  }
}
.youwind_button_nav{
  color: white;
  font-weight: 400;
  background-color: #2250ff;
  border-radius: 50rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-right: 30px;
  &:hover{
    font-weight: 500;
    background-color:  #2250ff;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    color: white;
  }
}
.youwind_button_nav .nav-link {
  margin: 0.5px 15px 0.5px 15px;
}

.youwind_login {
  color: #2250ff;
  font-weight: 400;
  background-color: white;
  border-radius: 50rem;
  border: solid #2250ff;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  padding: 0.5px 15px 0.5px 15px;
  margin-right: 30px;
  &:hover{
    font-weight: 500;
    background-color:  #2250ff;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    color: white !important;
  }
}
.nav-item {
  margin-right: 30px;
}

.image-background{
  background-image: url("/assets/1_Cover.png");
  height: 700px;
  background-position: center;
  background-size: cover;
}
.people-background{
  background-image: url("/assets/officepeople.jpg");
  height: 250px;
  background-position: center center;
  background-size: cover;
}

/*! Headings */

h1{
  color: #2250ff;
  text-shadow: 1px 1px 2px #112374;
}
h2{
  color: black ;
  font-size: 20px;
}
h3{
  color: black ;
  font-size: 18px ;
}
h4{
  color: black;
  font-size: 16px ;
}
h5{
  color: black;
  font-size: 14px;
}

.grayback {
  background-color: #f7f8fb;
}
.darkgrayback {
  background-color: #b3b8c7;
}

.blueback {
  background-color: rgb(56, 56, 132);
  border-radius: 15px 0px 0px 15px;
  padding: 30px;
  padding-left: 50px;
  color: white;
}

.bluebacktriple {
  background-color: rgb(56, 56, 132);
  border-radius: 15px;
  color: white;
  height: 200px;
}