<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include nav.html -%}

    <main class="container-fluid">
      <div class="row image-background align-items-center">
        <div class="col-sm-5 p-4 ps-md-5">
          <h1 style="font-size: 60px;">Accelerating Offshore Wind Projects</h1>
          <h2 class="mt-4 mb-5">Youwind reduces the cost and time of the development phase of your projects by up to 80%.</h2>
          <a  href="#" class="youwind_button">Request Demo</a>
        </div>
        <div class="col-sm-7 text-center">
          <img src="assets/1_Window image.png" alt="" style="max-width: 60%;" class="img-fluid">
        </div>
        <!--Icons not included yet
          <div class="col-12 ">
          <i class="bi bi-arrow-down text-center"></i>
        </div>-->
      </div>
      <div class="row align-items-center text-center grayback">
        <div class="col-sm-4 p-5">
          <img src="assets/Fan_Logo.png" alt="" style="transform: scale(0.5);">
          <h3>User Friendly Platform</h3>
          <p class="">B-1 test Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="col-sm-4 p-5">
          <img src="assets/Fan_Logo.png" alt="" style="transform: scale(0.5);">
          <h3>+15 years experience</h3>
          <p>B-2 test Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="col-sm-4 p-5">
          <img src="assets/Fan_Logo.png" alt="" style="transform: scale(0.5);"> 
          <h3>High confidentiality</h3>
          <p>B-3 test Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
      <div class="row m-5" style="height: 500px;">
        <div class="col-sm-7 text-center graph_background">
          <img src="assets/2_Window.png" alt="" style="max-width: 60%;" class="img-fluid">
        </div>
        <div class="col-sm-5">
          <h4>Youwind Model</h4>
          <h5>Poweful analytics has never been so intuative</h5>
          <p>C-1text here</p>
          <div class="btn youwind_button">Learn more</div>
        </div>
      </div>
      <div class="row grayback"> 
        <div class="col-sm-6">
          <h4>Pixel</h4>
          <h5>Interactive visualization platform...</h5>
          <p>C-2 text</p>
          <div class="btn youwind_button">Learn more</div>
        </div>
        <div class="col-sm-6">
          <img src="" alt="">
          <p>C-2 Image placement</p>
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-6">
          <img src="" alt="">
          <p>C-3 image here</p>
        </div>
        <div class="col-sm-6">
          <h4>Pixel Park</h4>
          <h5>Interactive visualization platform...</h5>
          <p>C-3 text here</p> 
          <div class="btn youwind_button">Learn more</div> 
        </div>
      </div>
      <div class="row grayback">
        <div class="col-sm-6">
          <h4>Optiwindow</h4>
          <h5>We date to optimize any installation scenario for offshore...</h5>
          <p>C-4 text</p>
          <div class="btn youwind_button">Learn more</div>
        </div>
        <div class="col-sm-6">
          <img src="" alt="">
          <p>C-4 Image placement</p>
        </div>
      </div>
        <!--COLLABORATOR LOGOS-->
      <div class="row">
        <p class="text-center">Our clients and partners</p>
        <div class="col-6 offset-sm-3 col-sm-1">
          <img src="assets/client_logos/Naturgy.png" alt="Naturgy logo" class="img-fluid">
        </div>
        <div class="col-6 col-sm-1">
          <img src="assets/client_logos/Parkwind.png" alt="Parkwind logo" class="img-fluid">
        </div>
        <div class="col-6 col-sm-1">
          <img src="assets/client_logos/CopenhagenEnergy.png" alt="Copenhagen Energy logo" class="img-fluid">
        </div>
        <div class="col-6 col-sm-1">
          <img src="assets/client_logos/Corio.png" alt="Corio logo" class="img-fluid">
        </div>
        <div class="col-6 col-sm-1">
          <img src="assets/client_logos/Bluenewables.png" alt="Bluenewables logo" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-sm-3 col-sm-1">
          <img src="assets/client_logos/Ecos.png" alt="Naturgy logo" class="img-fluid">
        </div>
        <div class="col-6 col-sm-1">
          <img src="assets/client_logos/Eselec.png" alt="Naturgy logo" class="img-fluid">
        </div>
        <div class="col-6 col-sm-1">
          <img src="assets/client_logos/Vortex.png" alt="Naturgy logo" class="img-fluid">
        </div>
        <div class="col-6 col-sm-1">
          <img src="assets/client_logos/Rannis.png" alt="Naturgy logo" class="img-fluid">
        </div>
        <div class="col-6 col-sm-1">
          <img src="assets/client_logos/ReykjavikUni.png" alt="Naturgy logo" class="img-fluid">
          <img src="assets/client_logos/UPC.png" alt="Naturgy logo" class="img-fluid">
        </div>
      </div>

      <div class="row grayback">
        <div class="col-12 col-sm-6">
          <h4>Other services</h4>
          <h5>Youwind is an engineering...</h5>
          <p>Our areas of expertise are early stage screening, development, budgeting, and contract...</p>
        </div>
        <div class="col-12 col-sm-6 pe-0">
          <div class="blueback my-4">
            <h5>Consultancy</h5>
            <p>Youwind performs project cost predictions based on statistical models and... </p>
          </div>
          <div class="blueback my-4">
            <h5>Workshops</h5>
            <p>Youwind experts team provides a wide range of services... </p>
          </div>
        </div>
      </div>
      <div class="row people-background">
        <div class="col-12 text-center">
        <h4>About us</h4>
        <p>At Youwind we are a ream of diverse professionals...</p>
        <div class="btn youwind_button">Learn more</div>
        </div>
      </div>

      <!--Latest articles-->

      <div class="row darkgrayback text-center align-items-center">
        <h4 class="text-center">Latest articles</h4>
        <div class="col-sm-4">   
          <div class="bluebacktriple">
            <p class="align-self-center">Development Update: February 2023</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="bluebacktriple d-flex align-items-center justify-content-center">
            <p>Providing the right tools for the challenges...</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="bluebacktriple">
            <p>Wind Europe Electric City 2021...</p>
          </div>
        </div>
      </div> 
    </main>


    {% comment %}
    {%- include footer.html -%}
    {% endcomment %}

  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
