<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include nav.html -%}

    <main class="container-fluid">
      <div class="row image-background align-items-center">
        <div class="col-sm-5 p-4 ps-md-5">
          <h1 class="lh-1">Accelerating Offshore Wind Projects</h1>
          <h2 class="mt-4 mb-5">Youwind reduces the cost and time of the development phase of your projects by up to 80%.</h2>
          <a  href="#" class="youwind_button">Request Demo</a>
        </div>
        <div class="col-sm-7 text-center pt-3">
          <img src="assets/1_Cover_illustration.png" alt="" style="max-width: 70%;" class="img-fluid">
        </div>
          <div class="col-12 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
            </svg>
        </div>
      </div>
      <!--2 Three text horizontal text blocks -->
      <div class="row align-items-center text-center grayback">
        <div class="col-md-4 p-5">
          <div class="m-xxl-5">
            <img src="assets/Fan_Logo.png" alt="" style="transform: scale(0.5);">
            <h3>User Friendly Platform</h3>
            <p class="">B-1 test Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
        <div class="col-md-4 p-5">
          <div class="m-xxl-5">
            <img src="assets/Fan_Logo.png" alt="" style="transform: scale(0.5);">
            <h3>+15 years of experience in the market</h3>
            <p>B-2 test Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
        <div class="col-md-4 p-5">
          <div class="m-xxl-5">
            <img src="assets/Fan_Logo.png" alt="" style="transform: scale(0.5);"> 
            <h3>High confidentiality standards</h3>
            <p>B-3 test Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
      </div>
      <!--3 Youwind Model Block -->
      <div class="row graph_background p-5">
        <div class="col-md-7 text-center">
          <div class="py-3">
            <img src="assets/2_Window.png" alt="" style="max-width: 60%;" class="img-fluid">
          </div>
        </div>
        <div class="col-md-5">
          <div class="my-3">
            <h4>Youwind Model</h4>
            <h5>Poweful analytics has never been so intuative</h5>
            <p>Youwind Model is a disrupting cloud-based IT system that optimizes the financials of an offshore wind farm, while integrating engineering functions with a usability mindset as never imagined before.<br>Youwind Model performs powerful analytics, handles big data and keeps traceability of al steps and users, resulting in a revolutionary system for the development of an offshore wind farm project, from early stages to installation planning and logistics.</p>
            <div class="btn youwind_button">Learn more</div>
          </div>
        </div>
      </div>
      <!--4 Pixel Block -->
      <div class="row grayback p-5 marker_background ">
        <div class="col-md-5">
          <div class="my-5 ms-5">
            <h4>Pixel</h4>
            <h5>Interactive visualization platform to accelerate early stage screening like never seen before</h5>
            <p>When starting a new offshore wind project, complex multi-criteria challenges arise: Wind Resource, Foundations, Selection (Bottom and Floating), Bathymetry, Cementation types, Turbine types, Ports, Regulation, Yield, and many more. <br>The constant use of experts and resources are required to best account for the future CAPEX/OPEX and LCOE of the future project. Pixel simplifies that.</p>
            <div class="btn youwind_button">Learn more</div>
          </div>
        </div>
        <div class="col-md-7 text-center">
          <div class="my-3 ">
            <img src="assets/3_Window.png" alt="" style="max-width: 60%;" class="img-fluid">
          </div>
        </div>
      </div>
      <!--5 Pixel Park Block -->
      <div class="row bullseye_background p-5">
        <div class="col-md-7 text-center">
          <div class="py-3">
            <img src="assets/4_Window.png" alt="" style="max-width: 60%;" class="img-fluid">
          </div>
        </div>
        <div class="col-md-5">
          <div class="my-3">
            <h4>Pixel Park</h4>
            <h5>Interactive visualization platform to accelerate early stage screening like never seen before</h5>
            <p>When starting a new offshore wind project, complex multi-criteria challenges arise: Wind Resource, Foundations, Selection (Bottom and Floating), Bathymetry, Cementation types, Turbine types, Ports, Regulation, Yield, and many more. <br>The constant use of experts and resources are required to best account for the future CAPEX/OPEX and LCOE of the future project. Pixel simplifies that.</p>
            <div class="btn youwind_button">Learn more</div>
          </div>
        </div>
      </div>
      <!--6 Optiwindow Block -->
      <div class="row grayback wind_background p-5">
        <div class="col-md-5">
          <div class="my-3 ms-5">
            <h4>Optiwindow</h4>
            <h5>We dare to optimize any installation scenario for offshore wind projects - weather downtime estimates for real</h5>
            <p>One day delay waiting with an offshore installation vessel can cost up to 250 thousand euros. Components installation can compromise about 35% of offshore CAPEX. By choosing the correct installation harbour, analysing the right metaocean data and installation assests, costs and risks can be kept at a minimum with OptiWindow. It is time to get a grip on weather downtime estimates thanks to OptiWindow's powerful statistics methods on big data.</p>
            <div class="btn youwind_button">Learn more</div>
          </div>
        </div>
        <div class="col-md-7 text-center">
          <div class="py-3">
            <img src="assets/5_Window.png" alt="" style="max-width: 60%;" class="img-fluid">
          </div>
        </div>
      </div>
        <!--7 COLLABORATOR LOGOS-->
      <div class="row">
        <div class="text-center semibold_30px my-5">Our clients and partners</div>
        <div class="col-6 offset-md-3 col-md-1">
          <img src="assets/client_logos/Naturgy.png" alt="Naturgy logo" class="img-fluid">
        </div>
        <div class="col-6 col-md-1">
          <img src="assets/client_logos/Parkwind.png" alt="Parkwind logo" class="img-fluid">
        </div>
        <div class="col-6 col-md-1">
          <img src="assets/client_logos/CopenhagenEnergy.png" alt="Copenhagen Energy logo" class="img-fluid">
        </div>
        <div class="col-6 col-md-1">
          <img src="assets/client_logos/Corio.png" alt="Corio logo" class="img-fluid">
        </div>
        <div class="col-6 col-md-1">
          <img src="assets/client_logos/Bluenewables.png" alt="Bluenewables logo" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-md-3 col-md-1">
          <img src="assets/client_logos/Ecos.png" alt="Ecos logo" class="img-fluid">
        </div>
        <div class="col-6 col-md-1">
          <img src="assets/client_logos/Eselec.png" alt="Eselec logo" class="img-fluid">
        </div>
        <div class="col-6 col-md-1">
          <img src="assets/client_logos/Vortex.png" alt="Vortex logo" class="img-fluid">
        </div>
        <div class="col-6 col-md-1">
          <img src="assets/client_logos/Rannis.png" alt="Rannis logo" class="img-fluid">
        </div>
        <div class="col-6 col-md-1">
          <img src="assets/client_logos/ReykjavikUni.png" alt="RU logo" class="img-fluid">
          <img src="assets/client_logos/UPC.png" alt="UPC logo" class="img-fluid">
        </div>
      </div>
      <!--8 Other services -->
      <div class="row grayback">
        <div class="col-md-5">
          <div class="my-3 ms-5">
            <div class="semibold_42px">Other services</div>
          <div class="regular_24px">Youwind is an engineering company that provides IT-Solutions, consulting services and workshops for the Offshore Wind Industry.</div>
          <p>Our areas of expertise are early stage screening, development, budgeting, and contract negotiation when designing offshore wind projects.</p>
          </div>
        </div>
        <div class="col-md-7 pe-0">
          
            <div class="blueback my-4 row">
              <div class="col-7">
                <div class="bold_30px">Consultancy</div>
                <p>Youwind performs project cost predictions based on statistical models and advanved simulations that covers capital expenditure, operational expenditure, development cost and decommissioning costs. </p>
              </div>
              <div class="col-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </div>
            </div>
            <div class="blueback my-4 row">
              <div class="col-7">
                <div class="bold_30px">Workshops</div>
                <p>Youwind experts team provides a wide range of services and trainings for developers, suppliers, investment banks, and authorities working in the offshore wind industry.</p>
              </div>
              <div class="col-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </div>
            </div>
          
        </div>
      </div>
      <!--9 About us Block -->
      <div class="row people-background">
        <div class="col-12 text-center">
        <h4>About us</h4>
        <p>At Youwind we are a ream of diverse professionals with years of experience in multiple fields of technology, engineering and sustainability.</p>
        <div class="btn youwind_button">Learn more</div>
        </div>
      </div>

      <!--Latest articles-->

      <div class="row darkgrayback text-center align-items-center">
        <h4 class="text-center">Latest articles</h4>
        <div class="col-sm-4">   
          <div class="bluebacktriple">
            <p class="align-self-center">Development Update: February 2023</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="bluebacktriple d-flex align-items-center justify-content-center">
            <p>Providing the right tools for the challenges...</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="bluebacktriple">
            <p>Wind Europe Electric City 2021...</p>
          </div>
        </div>
      </div> 
    </main>


    {% comment %}
    {%- include footer.html -%}
    {% endcomment %}

  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
